@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.defaultCard {
  @apply absolute inset-0 w-[97%] h-[95%] object-cover rounded-[50px] shadow-[2px_35px_60px_-15px_rgba(0,0,0,3)] m-auto bg-white max-h-[90vh] overflow-y-auto;
}